In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime
timestamp = datetime.now().strftime('%Y%m%d')

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
df_final = pd.read_csv("/Users/ayo/Desktop/_GSAIS_/Research/OralHealth_tokyo/paper_analysis/data/data_OnlyAbuse_N1235.csv", index_col=0)
df_final

,No_All,CGC,date,sex,age_year,age_month,age,abuse_1,abuse,abuse_num,...,Present_Teeth,Present_Perm_Teeth,Present_Baby_Teeth,Healthy_Rate,C0_Count,Care_Index,Trauma_Count,RDT_Count,UTN_Score,life_stage
2,3,tokyo,2016-10-12,Female,15,1,15.083333,NaN,Physical Abuse,1,...,28.0,28.0,0.0,82.1,2.0,100.0,0.0,0.0,0.0,Adolescence
3,4,tokyo,2016-10-12,Female,14,5,14.416667,NaN,Emotional Abuse,1,...,28.0,28.0,0.0,100.0,0.0,NaN,0.0,0.0,0.0,Adolescence
4,5,tokyo,2016-10-12,Female,15,10,15.833333,NaN,Neglect,1,...,28.0,28.0,0.0,60.7,3.0,62.5,0.0,0.0,37.5,Adolescence
7,8,tokyo,2016-10-12,Female,15,0,15.000000,NaN,Physical Abuse,1,...,28.0,28.0,0.0,100.0,0.0,NaN,0.0,0.0,0.0,Adolescence
8,9,tokyo,2016-10-12,Female,17,0,17.000000,NaN,Physical Abuse,1,...,28.0,28.0,0.0,53.6,4.0,88.9,0.0,0.0,11.1,Adolescence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2149,2468,itabashi,2023-02-02,Male,15,0,15.000000,NaN,Physical Abuse,1,...,28.0,28.0,0.0,100.0,0.0,NaN,0.0,0.0,0.0,Adolescence
2152,2471,itabashi,2023-02-02,Female,16,9,16.750000,NaN,Physical Abuse,1,...,25.0,22.0,3.0,92.0,0.0,50.0,0.0,0.0,50.0,Adolescence
2156,2475,itabashi,2023-03-02,Male,17,8,17.666667,NaN,Emotional Abuse,1,...,28.0,28.0,0.0,100.0,0.0,NaN,0.0,0.0,0.0,Adolescence
2157,2476,itabashi,2023-03-02,Female,17,0,17.000000,NaN,Physical Abuse,1,...,28.0,28.0,0.0,64.3,0.0,50.0,0.0,0.0,50.0,Adolescence
2161,2480,itabashi,2023-03-02,Female,17,0,17.000000,NaN,Physical Abuse,1,...,28.0,28.0,0.0,100.0,0.0,NaN,0.0,0.0,0.0,Adolescence